.join-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}
.accent-text {
  color: rgb(141, 14, 114);
}
.join-form {
  background-color: #00000020;
  width: 40vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}
.input-fields {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.input-fields:last-child {
  margin-bottom: 0;
}
.input-fields label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input-fields input {
  outline: none;
  background: none;
  border: 1px solid #2e3853;
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border-radius: 5px;
}
.input-fields input:focus {
  border-color: #596da0;
}
@media (max-width: 900px) {
  .join-section {
    flex-direction: column;
    justify-content: center;
  }
  .join-form {
    width: 80vw;
    max-width: inherit;
    margin-bottom: 2rem 0;
  }
}
.circle1 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: hsl(271, 76%, 53%, 0.1);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.circle2 {
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-color: rgba(168, 133, 204, 0.1);
  top: 5vw;
  right: 40vw;
  z-index: -1;
}

.circle3 {
  position: absolute;
  width: 50vh;
  height: 50vh;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
.circle3::before {
  content: "";
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(168, 133, 204, 0.1);
}
